<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3 flex-column">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-inline-block m-auto">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item m-auto">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/recipeIcon.png" class="navbar-toggler-icon" /></a>
                        </li>
                        <li class="nav-item m-auto">
                            <form asp-controller="Recipes" asp-action="SearchByName" class="form-inline nav-item">
                                <div class="dropdown  mr-1">
                                    <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                                        Categories
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "breakfast"})'>Breakfast</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "lunch"})'>Lunch</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "dinner"})'>Dinner</a></li>

                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "brunch"})'>Brunch</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "snack"})'>Snack</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "beverage"})'>Beverages</a></li>

                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "low sugar"})'>Low Sugar</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "keto"})'>Keto</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "paleo"})'>Paleo</a></li>

                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "vegan"})'>Vegan</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "vegetarian"})'>Vegetarian</a></li>
                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "dairy free"})'>Dairy Free</a></li>

                                        <li><a class="nav-link text-dark" href='@Url.Action("SearchByCategory", "Recipes", new { category = "gluton free"})'>Gluton Free</a></li>
                                    </ul>
                                </div>
                                <input class="form-control mr-sm-1" type="search" name="SearchPhrase" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-1 my-sm-0" type="submit">Search</button>
                            </form>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - RecipeManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
